.git
.gitignore
.DS_Store
.npmrc
node_modules
dist
uploads
coverage
.env*
*.log
*.jks
*.key
*.keystore
*.mobileprovision
*.p12
*.p8
*.pem
*.pfx
*.cer
*.crt
Dockerfile
.dockerignore
.github
.stryker-tmp
reports
tests
vitest.config.*
